.brands {
    margin: 0 auto;
    max-width: 1280px;
    margin-top: 230px;
    color: #004653;
    padding: 0 20px;
}

.brands-2 {
    margin-top: 0;
}

.brands-part {
    display: flex;
    flex-direction: row;
    
}

.brands-integrations {
    margin-bottom: 110px;
}

.brands-clients {}

.brands-part-caption-wrap {
    width: 470px;
    padding-top: 6px;
}

.brands-part-caption {
    font-size: 45px;
    font-weight: 600;
}

.brands-part-items-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.brands-part-item {
    width: 33.3333%;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.brands-img-wrap {
    padding: 0 20px;
    max-width: 250px;
}

.brands-part-item img{
    max-width: 240px;
    width: auto;
}

.brand-1 img { max-width: 220px; }
.brand-2 img { max-width: 163px; }
.brand-3 img { max-width: 117px; }
.brand-4 img { max-width: 131px; }
.brand-5 img { max-width: 131px; }
.brand-6 img { max-width: 110px; }

.brand-7 img { max-width: 180px; }
.brand-8 img { max-width: 232px; }
.brand-9 img { max-width: 117px; }
.brand-10 img { max-width: 100px; }
.brand-11 img { max-width: 193px; }
.brand-12 img { max-width: 140px; }

@media (max-width: 1023px) {
    .brands {
        margin-top: 100px;
    }
    .brands-integrations {
        margin-bottom: 0;
    }
    .brands-part {
        flex-direction: column;
    }

    .brands-part-caption-wrap {
        margin: 30px auto;
        width: auto;
    }
}

@media (max-width: 767px) {
    .brands {
        margin-top: 15px;
    }

    .brands-part-caption {
        font-size: 28px;
    }

    .brands-part-item {
        width: 50%;
        margin-bottom: 40px;
    }

    .brands-part-item img {
        width: 100%;
    }

    .brand-1 img { max-width: 138px; }
    .brand-2 img { max-width: 138px; }
    .brand-3 img { max-width: 101px; }
    .brand-4 img { max-width: 104px; }
    .brand-5 img { max-width: 75px; }
    .brand-6 img { max-width: 105px; }

    .brand-7 img { max-width: 130px; }
    .brand-8 img { max-width: 136px; }
    .brand-9 img { max-width: 113px; }
    .brand-10 img { max-width: 60px; }
    .brand-11 img { max-width: 137px; }
    .brand-12 img { max-width: 98px; }
}
