.extra {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    color: #FFFFFF;
}

.extra-caption {
    font-size: 50px;
    margin-top: 45px;
    color: #FFFFFF;
}

.extra-content {
    display: flex;
    flex-basis: 0;
}

.extra-content-item {
    width: 0;
    margin: 0 25px;
}

.extra-quotes-wrap {
    flex-grow: 2;
    margin-bottom: 20px;
}

.extra-screens-wrap {
    flex-grow: 1;
    overflow-y: hidden;
}

.extra-quote {
    border-radius: 10px;
    padding: 15px 20px 26px 30px;
    cursor: pointer;
    position: relative;
}

.extra-quote::before {
    display: none;
    background-color: inherit;
    content: "\00a0";
    height: 16px;
    width: 16px;
    position: absolute;
    transform: rotate(45deg);
    right: -8px;
    top: calc(50% - 8px);
}

.extra-quote.active::before {
    display: block;
    background-color: inherit;
}

.extra-quote.active {
    background-color: #109563;
}

.extra-quote:hover {
    // background-color: #20d48f;
}

.extra-quote:hover::before {
    display: block;
}

.extra-quote-1 {

}

.extra-quote-2 {
    margin-top: 20px;
}

.extra-quote-caption {
    font-size: 35px;
    line-height: 47px;
    margin-bottom: 20px;
}

.extra-quote-text {
    font-size: 25px;
    line-height: 32px;
    font-weight: 300;
}

.extra-screen {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    width: 100%;
    position: relative;
}

.extra-screen.active{
    visibility: visible;
    opacity: 1;
}

.extra-screen.visible {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.extra-screen img {
    width: 100%;
    position: absolute;
}

.extra-screen-1 {

}

.extra-screen-2 {
    
}

@media (max-width: 767px) {
    .extra-content {
        flex-direction: column;
    }
    .extra-caption {
        font-size: 28px;
        line-height: 38px;
        margin-top: 30px;
    }

    .extra-content-item {
        width: 100%;
        margin: 0;
    }
    .extra-quotes-wrap {
        order: 2;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .extra-screens-wrap {
        order: 1;
        border-bottom: 1px solid #8bede8;
    }

    .extra-quote {
        text-align: center;
        padding: 15px;
    }

    .extra-quote::before {
        top: -8px;
        left: calc(50% - 8px);
    }

    .extra-screen img {
        position: relative;
    }

    .extra-screen {
        display: none;
        width: 217px;
        height: 265px;
        margin: 0 auto;
    }
    .extra-screen.active {
        display: block;
    }


    .extra-quote-caption {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .extra-quote-text {
        font-size: 13px;
        line-height: 19px;
        margin-left: 0;
    }

}

