footer {
  min-height: 280px;
  background-color: #002D36;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 300;
}

footer .triangle {
  margin-top: -1px;
}

footer .triangle-line {
  margin-top: -101px;
}

.footer-content {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 27px;
}

.footer-content > * {
  margin: 30px;
  padding-top: 15px;
}

.footer-content-links {
  flex-grow: 1;
  border-right: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
}

.footer-content-link-wrap {
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
}

.footer-content-link-img {
  width: auto;
  min-width: 35px;
  height: 25px;
  fill: #FFFFFF;
  margin-top: 2px;
  margin-right: 15px;
}

a:hover .footer-content-link-img {
  fill: #45BA88;
}

.footer-content-link-text {
  margin-bottom: 10px;
}

.footer-content-partners {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content-partner {

}

.footer-content-partners-item {
  margin-bottom: 22px;
}

.footer-content-partners-item-img {
  max-width: 150px;
  max-height: 27px;
}

.footer-content-copyright {
  flex-grow: 1;
  border-left: 1px solid #FFFFFF;
}

.footer-content-copyright img {
  float: right;
  margin-top: 20px;
  width: 90px;
  height: 40px;
  margin-left: 20px;
}

.rules-wrap {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.rule-link {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: #45BA88;
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  footer .triangle-line {
    margin-top: -59px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-content-links {
    border: none;
  }

  .footer-content-link-wrap {
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .footer-content-copyright {
    border: none;
    margin: 0 auto;
    min-width: 115px;
    border-top: 1px solid #ffffff;
    text-align: center;
  }

  .footer-content-copyright img {
    float: none;
    margin-left: 0;
    margin-top: 5px;
  }

  .footer-content-partners {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .footer-content-partner:first-child {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
  }

  .footer-content-link {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
    
  }

  .footer-content-link-text {
    margin-left: 10px;
  }

  .footer-content-link-img {
    margin-top: 2px;
    margin-right: 5px;
  }

  .rule-link {
    width: 100%;
    display: block;
    margin-top: 10px;
    font-size: 14px;
  }
}
