

.form-wrap {
  margin: 30px auto;
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 80px;
}

.form-wrap h2 {
  margin-bottom: 25px;
}

.form-wrap h3 {
  margin-top: 25px;
}

.form {
  margin: 40px 0 0 0;
}

.form-flex {
  display: flex;
}

.form > * {
  flex-grow: 1;
}

.form-caption {
  max-width: 900px;
}

.form input,
.form button {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.right-side .form-flex {
  display: block;
}

.form-confirmation-message {
  font-size: 14px;
  color: #000;
  line-height: 18px;
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  a {
    color: #000;
    display: inline;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #45BA88;
    }
  }
}

.right-side .form-confirmation-message {
  text-align: left;
}

@media (max-width: 1023px) {
  .form-flex {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .form input, .form button{
    margin: 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: 292px;
  }

  .form button {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .form {
    margin: 20px 0 0 0;
  }

  .form-wrap {
    margin-top: 60px;
  }

  .form-caption {
    font-size: 28px;
    line-height: 34px;
  }

  .form input, .form button{
    font-size: 16px;
  }

  .form .button-small {
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .form-wrap h2 {
    margin-bottom: 10px;
  }

  .form-wrap h3 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .form-confirmation-message {
    font-size: 12px;
  }
}