header {
  background-color: #002D36;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 52px;
  background-attachment: fixed;
}

.h1-wrap {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 45px;
}

.logo {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 52px;
}

.logo-img {
  width: auto;
  height: 68px;
}

.summary-list {
  max-width: 1080px;
  margin: 0 auto;
}

.summary-list-item {
  list-style: none;
  position: relative;
  padding: 0 0 0 25px;
  font-size: 50px;
  line-height: 68px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 16px;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 22px;
  //   width: 12px;
  //   height: 12px;
  //   background-color: #45C0B8;
  //   background: -webkit-gradient(linear, left top, left bottom, from(#45C0B8), to(#45BA8C));
  //   background: -webkit-linear-gradient(top, #45C0B8, #45BA8C);
  //   background: -o-linear-gradient(top, #45C0B8, #45BA8C);
  //   background: linear-gradient(to bottom, #45C0B8, #45BA8C);
  //   border-radius: 50%;
  //   -moz-border-radius: 50%;
  //   -webkit-border-radius: 50%;
  // }
}

.mark {
  width: 50px;
  height: 42px;
}

.get-offer {
  margin: 70px auto;
  text-align: center;
  margin-bottom: 60px;
}

.more-info-wrap {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}

.more-info-text {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 41px;
  display: inline-block;
  margin-bottom: 35px;
}

.more-info-arrow-wrap {                      
  width: 65px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 100px;
  z-index: 1;
}

.more-info-arrow {
  fill: #45BA8C;
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes flickerAnimation1 {
  0%   { opacity:.4; }
  50%  { opacity:0; }
  100% { opacity:.4; }
}
@keyframes flickerAnimation1 {
  0%   { opacity:.4; }
  50%  { opacity:0; }
  100% { opacity:.4; }
}
@-webkit-keyframes flickerAnimation2 {
  0%   { opacity:.6; }
  50%  { opacity:0; }
  100% { opacity:.6; }
}
@keyframes flickerAnimation2 {
  0%   { opacity:.6; }
  50%  { opacity:0; }
  100% { opacity:.6; }
}
@-webkit-keyframes flickerAnimation3 {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@keyframes flickerAnimation3 {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.more-info-arrow-1 {
  
  -webkit-animation: flickerAnimation1 2s infinite;
          animation: flickerAnimation1 2s infinite;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.more-info-arrow-2 {
  top: 25px;
  -webkit-animation: flickerAnimation2 2s infinite;
          animation: flickerAnimation2 2s infinite;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.more-info-arrow-3 {
  top: 50px;
  -webkit-animation: flickerAnimation3 2s infinite;
          animation: flickerAnimation3 2s infinite;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}


@media (max-width: 1023px) { 
  .summary-list-item {

  }
}

@media (max-width: 767px) { 
  header {
    padding-top: 20px;
  }

  .summary-list {
    margin-left: 15px;
  }

  .summary-list-item {
    font-size: 26px;
    line-height: 33px;
    padding-left: 0;
    display: flex;
  }

  .mark {
    width: 18px;
    height: 15px;
    margin-top: 8px;
    margin-right: 10px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .logo-img {
    height: 47px;
  }

  .h1-wrap {
    margin-left: 20px;
    margin-top: 30px;
  }

  .get-offer {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .more-info-arrow-wrap {
    width: 36px;
    height: 80px;
  }
  .more-info-arrow {
    width: 36px;
    height: 13px;
  }

  .more-info-arrow-2 {
    top: 14px;
  }
  .more-info-arrow-3 {
    top: 28px;
  }
}