.info-wrap {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 54% 46%;
  margin-top: 110px;
  grid-template-rows: auto auto auto;
}

.clients-base {
}

.new-clients {
}

.info-banner-img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
  border-radius: 12px;
}

.info-content {
  box-sizing: border-box;
}

.info-content h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.info-content h3 {
  margin-top: 20px;
  margin-bottom: 45px;
}

.info-banner {
  margin-bottom: 50px;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100%;
}

.info-button {
  grid-row-start: 2;
  grid-row-end: 3;
}

.new-clients.info-wrap {
  margin-bottom: 120px;
}

.new-clients .info-banner {
  grid-column: 1;
  text-align: center;
  margin-bottom: 0;
}

.new-clients .info-content {
  grid-column: 2;
}

.new-clients .info-button {
  grid-column: 2;

}

.new-clients .info-banner-img {
  box-shadow: none;
  max-height: 467px;
  width: auto;
  max-width: 100%;
}

@media (max-width: 1023px) {
  .info-wrap {
    display: block;
    text-align: center;
  }

  .new-clients.info-wrap {
    display: flex;
    flex-direction: column;
  }

  .info-content {
    order: 1;
  }

  .info-banner {
    order: 2;
  }

  .info-button {
    order: 3;
  }
}

@media (max-width: 767px) {
  .info-wrap {
    margin-top: 35px;
  }

  .info-content {
    max-width: 400px;
    margin: 0 auto;
  }

  .info-content h2 {
    margin-bottom: 10px;
  }

  .info-content h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .info-banner {
    margin-bottom: 30px;
  }

  .new-clients.info-wrap {
    margin-top: 70px;
    margin-bottom: 80px;
  }
}