html {
  font-size: 35px;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  color: #002D36;
}

html,body { overflow-x: hidden; }

b {
  font-weight: bold;
}
header,
footer, 
section {
  overflow: auto;
}

section {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
}

a:hover, a:focus {
  text-decoration: none;
  // color: #45BA87;
}

a:focus, a:active {
  outline: none;
  -moz-outline-style: none;
}

.visible {
  visibility: visible;
}

button {
  background-color: #45BA83;
  cursor: pointer;
  padding: 12px 50px 16px 50px;
  text-align: center;
  transition: 0.5s;
  color: #FFFFFF;
  border-radius: 3px;
  border-color: none;
  box-shadow: none;
  background-image: linear-gradient(to bottom, #45C2C0, #45BA83);
  font-size: 27px;
  line-height: 37px;
  border: none;
  font-weight: 400;
  font-family: 'Open Sans', serif;
}

button:hover {
  background-image: linear-gradient(to bottom, #45aaC0, #45BA83);
}

button:focus, button:active {
  outline: none;
  -moz-outline-style: none;
}

.button-small {
  font-size: 24px;
  line-height: 33px;
  padding: 8px 60px 10px 60px;
}

.custom-container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.green-gradient-1 {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, rgba(188, 255, 213, .4), rgba(248, 255, 250, 0.1));
}

.green-gradient-2 {
  background-color: #ffffff;
  background-image: linear-gradient(to top, rgba(188, 255, 213, .4), rgba(248, 255, 250, 0.1));
}

.green-gradient-3 {
  background-color: #ffffff;
  background-image: linear-gradient(to right, rgba(69, 186, 131, 1), rgba(69, 194, 192, 1));
}

h1 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
}

h2 {
  color: #002D36;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin: 30px 0;
}

h3 {
  color: #002D36;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  margin: 30px 0;
}

.triangle {
  height: 100px;
  margin-top: -99px;
  position: relative;
}
.triangle-top {
  height: 100%;
  -webkit-clip-path: polygon(100% 0,50% 80%,0px 0);
  clip-path: polygon(100% 0,50% 80%,0px 0);
  background-color: #e4ffee;
}

.triangle-line{
  -webkit-clip-path: polygon(50% 100%,100% 20%,100% 0,50% 80%,0 0,0 20%);
  clip-path: polygon(50% 100%,100% 20%,100% 0,50% 80%,0 0,0 20%);
  background-image: linear-gradient(to bottom, #45C1BC, #45BA88);
  height: 100%;
  /* margin-top: -100px; */
}

.triangle-bottom {
  -webkit-clip-path: polygon(0% 100%,100% 100%,100% 20%,50% 100%,0 20%);
  clip-path: polygon(0% 100%,100% 100%,100% 20%,50% 100%,0 20%);
  height: 100%;
  margin-top: -100px;
  background-color: #e4ffee;
}

input {
  background-color: #ffffff;
  padding: 11px 20px 12px 20px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 3px;
  border: 1px solid rgba(0, 174, 183, 1);
  white-space: nowrap;
}

input.has-error {
  border: 1px solid red;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C8C8C8;
  font-family: 'Open Sans', serif;
  opacity: 1; /* Firefox */
  font-weight: 100;
}
:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Open Sans', serif;
  color: #C8C8C8;
  opacity: 1; /* Firefox */
  font-weight: 100;
}
::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C8C8C8;
  font-family: 'Open Sans', serif;
  font-weight: 100;
  opacity: 1; /* Firefox */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C8C8C8;
  font-family: 'Open Sans', serif;
  font-weight: 100;
  opacity: 1; /* Firefox */
}

@media (max-width: 767px) { 
  h1 {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  h2 {
    font-size: 27px;
    line-height: 36px;
    text-align: center;
  }

  h3 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }


  button {
    font-size: 17px;
    line-height: 23px;
    padding: 12px 30px 16px 30px;
  }

  .button-small {
    font-size: 16px;
    line-height: 22px;
    padding: 9px 35px 10px 35px;
  }

  .triangle {
    height: 58px;
    margin-top: -57px;
  }
  
  .triangle-bottom {
    margin-top: -58px;
  }

  input, button {
    max-width: 292px;
  }
}

