.alert {
    display: none;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    max-width: 630px;
    margin: 0 auto;
    position: relative;
}

.alert-success {
    color: #177140;
    background-color: #d5f7e5;
    border-color: #c4f4da;
    max-width: 550px;
}

.alert-danger { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }

.right-side, .center-side{
    display: none;
    position: fixed;
    z-index: 3;
    text-align: center;
    width: 100%;
    padding: 50px 20px 20px 20px;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    box-sizing: border-box;
}

.right-side {
    padding: 0;
}

.right-side h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
}

.right-side h3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.right-side input{
    margin: 0 0 20px 0;
    width: calc(100% - 42px);
}

.right-side button {
    margin: 0;
    width: 100%;
}

.close {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    top: 18px;
    right: 20px;
}

.close svg {
    width: 20px;
}

.close path {
    fill: #000000;
}

.close:hover path {
    fill: #686868;
}

.center-side h3 {
    margin-top: 0;
}
.center-side .close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-wrapper {
    background-color: #ffffff;
    display: none;
    display: block;
    position: fixed;
    right: 0;
    height: 100vh;
    max-width: 500px;
    padding: 30px;
    text-align: left;
}


@media (max-width: 1023px) {
    .right-side .form-flex {
        flex-wrap: nowrap;
        display: flex;
    }

    .right-side input, .right-side button {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 767px) {
    .right-side {
        width: 100%;
    }

    .right-side .form-wrapper {
        text-align: left;
        overflow-y: scroll;
    }

    .right-side h2, .right-side h3 {
        text-align: left;
    }

    .right-side button {
       // margin-bottom: 100px;
    }

    .alert {
        font-size: 18px;
        text-align: left;
    }
    .alert h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .center-side .close {
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
    }

    .center-side .close svg{
        width: 10px;
    }

}
