.sales {
  margin-bottom: 75px;
}

.sales h2 {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 38px;
  line-height: 47px;
}

.sales-img {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.sales-button {
  margin-top: 75px;
}

@media (max-width: 767px) {
  .sales {
    margin-bottom: 70px;
  }
  .sales h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .sales-img {
    margin-top: 20px;
  }

  .sales-button {
    margin-top: 0;
  }
}
