.statistic {
  max-width: 1340px;
  margin: 0 auto;
  margin-top: 135px;
  color: #004653;
}

.statistic-caption {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statistic-caption-logo {
  max-height: 105px;
  width: auto;
}

.statistic-caption-text {
  font-size: 50px;
  margin-left: 20px;
  margin-right: 30px;
}

.statistic-caption-arrow {
  margin-top: 30px;
}

.statistic-content {
  display: flex;
  margin-top: 80px;
}

.statistic-part {
  padding: 20px;
  flex-basis: 0;
}

.statistic-part-1 {
  flex-grow: 3;
}

.statistic-part-2 {
  border-left: 2px solid #a0efbb;
  border-right: 2px solid #a0efbb;
  flex-grow: 4;
}



.statistic-part-3 {
  flex-grow: 3;
}

.statistic-part-caption {

}


.statistic-part-caption {
  font-size: 33px;
  margin-bottom: 30px;
}

.statistic-part-content {
  font-size: 25px;
  line-height: 31px;
}

.statistic-part-1 .statistic-big-text-space {
  padding-left: 5px;
  padding-right: 5px;
}

.statistic-part-2 .statistic-big-text-space {
  width: 50px;
  padding-left: 15px;
}

.statistic-part-3 .statistic-big-text-space {
  width: 30px;
  padding-left: 15px;
}

.statistic-big-text-space {
  display: inline-block;
  position: relative;
  width: 140px;
}

.statistic-part-2 .statistic-big-text {
  font-size: 105px;
  line-height: 80px;
}

.statistic-big-text {
  position: absolute;
  bottom: 0;
  color: #45BA87;
  font-weight: 400;
  font-size: 70px;
  line-height: 52px;
  font-weight: 600;
}

@media (max-width: 1023px) {
  .statistic-part-2 {
    border: none;
  }

  .statistic-content {
    flex-direction: column;
    text-align: center;
    margin-top: 55px;
  }

  .statistic-big-text {
    left: 5px;
  }

  .statistic-part-line {
    border-bottom: 2px solid #a0efbb;
    width: 115px;
    margin: 30px auto 30px auto;
  }

  .statistic-part-3 .statistic-big-text-space {
    width: 24px;
  }
}

@media (max-width: 767px) {
  .statistic {
    margin-top: 110px;
  }

  .statistic-caption-logo {
    width: 171px;
  }

  .statistic-caption-text {
    font-size: 28px;
    line-height: 38px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .statistic-caption-arrow {
    width: 25px;
  }

  .statistic-part-caption {
    font-size: 25px;
    margin-bottom: 12px;
  }

  .statistic-part-content {
    font-size: 16px;
    line-height: 22px;
    max-width: 320px;
    margin: 0 auto;
  }

  .statistic-part-2 .statistic-big-text {
    font-size: 70px;
    line-height: 52px;
  }

  .statistic-part-2 .statistic-big-text-space {
    width: 26px;
  }

  .statistic-part-3 .statistic-big-text-space {
    width: 20px;
  }

  .statistic-smile {
    display: block;
    margin-top: 10px;
  }

}

@media (max-width: 360px) {
  .statistic-caption {
    flex-wrap: wrap;
  }
  .statistic-caption-logo {
    margin: 0 20px;
  }
}